<div id="container">
  <h1 class='events-title'>Upcoming Events</h1>
  
  <% @events.upcoming.each do |event| %>
      <%= render 'card', event: event %>
  <% end %>

  <h1 class='events-title'>Past Events</h1>

  <% @events.past.each do |event| %>
      <%= render 'card', event: event %>
  <% end %>
</div>
